body.wait *, body.wait {
    cursor: wait !important;
}

.edit-project-window {
    position: fixed;
    top: 15%;
    left: 15%;
    z-index: 999;
    background-color: rgba(255,255,255,1);
    color: #fff;
    padding: 10px;
    width: 70%;
    //border: 2px solid #242021;
    border: 4px solid #242021;
    display: none;
}

.delete-project-window {
    position: fixed;
    top: 25%;
    left: 20%;
    z-index: 999;
    background-color: rgba(255,255,255,1);
    color: #fff;
    padding: 10px;
    width: 60%;
    //border: 2px solid #242021;
    border: 4px solid #242021;
    display: none;
}

.login-window {
    position: fixed;
    top: 40%;
    left: 40%;
    z-index: 999;
    background-color: rgba(255,255,255,1);
    color: #fff;
    padding: 10px;
    width: 20%;
    //border: 2px solid #242021;
    border: 4px solid #242021;
    display: none;
}

.dimmer {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0, 0, 0, 0.8);
    z-index:998;
    display: none;
}

.login-input-outer {
  border: 1px solid #000;
  border-radius: 8px;
  clear: both;
  display: inline-block;
  height: 45px;
  margin: 10px auto 10px;
  position: relative;
  width: 100%;
  float:right;
}

.remind-link {
  padding-top:8px;
  padding-right:3px;
  color: #242021;
  float: left;
  font-family: "Nixie One",cursive;
  font-size: 18px;
  float:right;
}
.remind-link:hover {
  color: #ec1c24 !important;
  font-weight:bold;
  cursor: pointer;
}

.login-input-outer input {
  background: #fff none repeat scroll 0 0;
  border: medium none;
  border-radius: 8px;
  color: #231f20;
  float: left;
  font-family: "Nixie One",cursive;
  font-size: 22px;
  height: 100%;
  margin: 0;
  padding: 0 0 0 10px;
  width: 100%;
}

.submit-login-btn {
background-color: rgba(255, 255, 255, 0.7);
border: 1px solid #242021;
color: #242021 !important;
display: table;
float:left;
font-size: 18px;
font-weight: normal;
height: 40px;
line-height: 40px;
margin: 0px auto 0;
padding: 0 25px;
text-align: center;
width: auto;
font-family: "Montserrat",sans-serif;
}

.submit-login-btn:hover, .submit-login-btn:focus {
background-color: #ec1c24;
color: #fff !important;
border-color: #ec1c24;
cursor:pointer;
}

.cancel-login-btn {
background-color: rgba(255, 255, 255, 0.7);
border: 1px solid #242021;
color: #242021 !important;
display: table;
float:right;
font-size: 18px;
font-weight: normal;
height: 40px;
line-height: 40px;
margin: 0px auto 0;
padding: 0 25px;
text-align: center;
width: auto;
font-family: "Montserrat",sans-serif;
}

.cancel-login-btn:hover, .cancel-login-btn:focus {
background-color: rgba(61,61,61,.8);
color: #fff !important;
cursor:pointer;
}

#login_button {
    cursor: pointer;
}

.login-response {
  margin-top: 16px;
  padding-top: 34px;
  color: #ec1c24;
  font-weight: bold;
  clear: both;
  text-align: center;
  font-family: "Nixie One",cursive;
  font-size: 18px;
}

.alert-window {
    position: fixed;
    top: 40%;
    left: 40%;
    z-index: 999;
    background-color: rgba(255,255,255,1);
    color: #000000;
    padding: 10px;
    width: 20%;
    //border: 2px solid #242021;
    border: 4px solid #242021;
    display: none;
}

.alert-close-btn {
background-color: rgba(255, 255, 255, 0.7);
border: 1px solid #242021;
color: #242021 !important;
display: table;
float:right;
font-size: 14px;
font-weight: normal;
height: 30px;
line-height: 30px;
margin: 0px auto 0;
padding: 0 25px;
text-align: center;
width: auto;
font-family: "Montserrat",sans-serif;
}

.alert-close-btn:hover, .alert-close-btn:focus {
background-color: rgba(61,61,61,.8);
color: #fff !important;
cursor:pointer;
}

.share-window {
    position: fixed;
    top: 40%;
    left: 30%;
    z-index: 999;
    background-color: rgba(255,255,255,1);
    color: #fff;
    padding: 10px;
    width: 40%;
    //border: 2px solid #242021;
    border: 4px solid #242021;
    display: none;
}

#refresh-report-button {
    color:#242021;
}
#refresh-report-button:hover {
    cursor:pointer;
    color:#ec1c24;
}

.footnote {color:#ec1c24;cursor:pointer;}
.footnote:hover .footnotetooltip {display:block;}
.footnotetooltip {font-size:12px;display:none;color:#000000;border:1px solid #242021;background:#D8D8D8;margin-left:250px;margin-top:-175px;padding:5px;position:absolute;z-index:998;width:200px;}

.tt-dropdown-menu, .gist {
    text-align: left;
}
#scrollable-dropdown-menu .tt-dropdown-menu {
  //max-height: 150px;
  //overflow-y: auto;
}
.typeahead, .tt-query, .tt-hint {
    background: #ec1c24 none repeat scroll 0 0;
    border: medium none;
    color: #000;
    font-size: 14px;
    height: 35px;
    padding: 0 10px;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
}
.typeahead {
    background-color: #ec1c24;
    width: 350px;
}
.typeahead:focus {
    border: medium none;
}
.tt-query {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
    color: #999999;
}
.tt-dropdown-menu, .tt-menu {
    background-color: #fff;
    border: 1px solid #1b3a5f;
    color: #000000;
    font-size: 14px;
    height: 210px;
    padding: 5px 5px;
    text-align: left;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    cursor: pointer;
}

.tt-suggestion {
    font-size: 14px;
    padding: 0 10px;
}
.tt-suggestion.tt-cursor {
    background-color: #0097CF;
    color: #FFFFFF;
}
.tt-suggestion p {
    margin: 0;
}

.tt-suggestion:hover {
    font-size: 14px;
    padding: 0 10px;
    background-color: #eaeaeb;
}
/*#scrollable-dropdown-menu .tt-dropdown-menu {
  max-height: 150px;
  width: 100%;
  overflow-y: auto;
}
.typeahead {
    
}*/

@keyframes blink {50% { color: transparent }}
.loader__dot { animation: 1s blink infinite; color:red;}
.loader__dot:nth-child(2) { animation-delay: 250ms; color:red;}
.loader__dot:nth-child(3) { animation-delay: 500ms; color:red;}

.gray-btn {background-color: rgba(61,61,61,.8);border-radius: 0 !important;color: #fff;font-size: 18px;font-weight: bold;margin: 0 0 15px;min-width: 160px;padding: 8px 25px !important;cursor:pointer;}
.gray-btn:hover {background:#000 !important; color:#fff !important;}

.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  //content: 'SHOW MORE KEYWORDS';
}

.read-more-state:checked ~ .read-more-trigger:before {
  //content: 'SHOW FEWER KEYWORDS';
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  color: #fff;
  background-color: #337ab7;
  font-size: .9em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: .25em;
}

.card-header-mission-text {
  margin-top: -5px;
  margin-left: -10px;
  color: #b3b3b3;
  font-weight: lighter;
  clear: both;
  float: left;
  text-align: left;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 18px;
}

.activate-link {
    color: #9cc0cf !important;font-size:24px;font-weight: bold;height: 100%;text-transform:none;cursor:pointer;
}